<table class="table table-dark">
    <thead>
     <tr>
         <th>#</th>
         <th>NAME</th>
         <th>LAST NAME</th>
         <th>JOB</th>
         <th>AGE</th>
         <th>ACTION</th>
     </tr>
    </thead>
    <tbody *ngFor="let worker of listWorkers;index as i">
        <td>{{i+1}}</td>
        <td>{{worker.name}}  </td>
        <td>{{worker.lastName}}</td>
        <td>{{worker.job}}</td>
        <td>{{worker.age}}</td>
        <td>
            <button type="button" class="btn btn-warning" data-toggle="modal" (click)="onHabilitarModificacion(worker,i)" data-target="#exampleModal" data-whatever="@mdo">Edit</button>
            <button  class="btn btn-danger" type="button" (click)="onDelete(i)">eliminar</button>  
        </td>

    </tbody>
</table>


<!--MODAL DE ELIMINAR-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name :</label>
            <input type="text" class="form-control" id="recipient-name" value="{{workerModal.name}}" >
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="recipient-Lastname" value="{{workerModal.lastName}}">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Job:</label>
            <input type="text" class="form-control" id="recipient-job" value="{{workerModal.job}}">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Age:</label>
            <input type="text" class="form-control" id="recipient-age" value="{{workerModal.age}}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" (click)="onSave()" data-dismiss="modal">Save</button>
    </div>
    </div>
  </div>
</div>
<!---->