<nav class="navbar navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link text-white"
       href="../tabla-trabajadores-component/tabla-trabajadores-component.component.html">Register </a>
    </li>
    <li class="nav-item active ">
      <a class="nav-link text-white" href="#prueba.html">see workers</a>
    </li>
    
  </nav>