<br>
<div style="text-align: center;">
    <span>Name : </span> 
    <input [(ngModel)]="name" type="text">

    <span>Last Name : </span> 
    <input [(ngModel)]="lastName" type="text" >

    <span>How old are you? : </span> 
    <input  [(ngModel)]="age" type="number">

    <span>What do you do? : </span>
     <input [(ngModel)]="job" type="text">
    
    <br>
    <br>
    
        <button type="button" class="btn btn-success" (click)="onAddWorker()"> Register</button>
    
        <button type="button" class="btn btn-primary" (click)="onSeeWorkers()"> See Workers</button>
</div>
<br>
<br> <br>
<br>


