<app-formulario-component (workerDesdeHijo)="onAddWorker($event)" (pasarMostrarTabla)="RecibirMostrarTabla($event)"></app-formulario-component>

<!---CARDS--->
<div style="text-align: center;" *ngIf="mostrarTabla==false">
  <div class="scroll-worker" id="slide-card" *ngIf="mostrarCard; else mostrarNoHay">
      <app-card-workers class="card-workers" *ngFor="let worker of listWorkers" [myCardWorker]="worker"></app-card-workers>
  </div>
  <ng-template #mostrarNoHay>
      <h2>VACIO</h2>
  </ng-template>
</div>

<!--TABLA--->
<div  *ngIf="mostrarTabla;">
  <app-tabla-trabajadores-component [listWorkers]="listWorkers">
  </app-tabla-trabajadores-component>   
</div>
