

<ul>
    <div  class="card text-white bg-secondary mb-3" style="max-width: 300px;">
      <div class="card-header">{{myCardWorker.name}}</div>
      <div class="card-body" style="min-height: 300px;">
        <h5 class="card-title">{{myCardWorker.lastName}}</h5>
        <p class="card-text">{{myCardWorker.age}}</p>
        <p class="card-text">{{myCardWorker.job}}</p>
      </div>
    </div>
</ul>